<br>

<div class="container">

    <!-- titulo de noticia -->
    <div class="card">
        <div class="card-content">
            <p class="title">
                “Angular is a fremework for building SPA sites created by Google.”
            </p>
            <br>
            <p class="subtitle">
                Gisell Lopez
            </p>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
                <span>
                    View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
                </span>
            </p>
            <p class="card-footer-item">
                <span> Share on <a href="#">Facebook</a> </span>
            </p>
        </footer>
    </div>

    <br>
    <!-- Comentarios -->
    <article class="media" *ngFor="let coment of comments; let num = index" >
        <figure class="media-left">
            <p class="image is-64x64">
            <img src="https://bulma.io/assets/images/placeholders/128x128.png" />
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
            <p>
                <strong>{{ coment.name }}</strong> <small>{{ coment.alias }}</small> <small>31m</small>
                <br />
                {{ coment.comment}}
            </p>
            </div>
            <nav class="level is-mobile">
            <div class="level-left">
                <a class="level-item">
                <span class="icon is-small"><i class="fas fa-reply"></i></span>
                </a>
                <a class="level-item">
                <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                </a>
                <a class="level-item">
                <span class="icon is-small"><i class="fas fa-heart"></i></span>
                </a>
            </div>
            </nav>
            </div>
        <div class="media-right">
            <button class="delete" (click)="delete(num)"></button>
        </div>
    </article>

    <br>
    <!-- Post / Submit -->
     <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
            <img src="https://bulma.io/assets/images/placeholders/128x128.png" />
            </p>
        </figure>
        <div class="media-content">
            <div class="control">
                <input class="input" type="text" [(ngModel)]="name" (ngModelChange)="name = $event" placeholder="Name" />
            </div>
            <br>
            <div class="field">
                <p class="control">
                    <textarea class="textarea" [(ngModel)]="comment" (ngModelChange)="comment = $event" placeholder="Add a comment..."></textarea>
                </p>
            </div>
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <a class="button is-info" (click)="addcomment()">Submit</a>
                    </div>
                </div>
            </nav>
        </div>
    </article>
    <br>

</div>